<!DOCTYPE html>
<html ng-app="madRecruitApp">
<head>
<meta charset="ISO-8859-1">
<title>Mad Recruit</title>
<link rel="shortcut icon" href="resources/images/mad_logo2.ico" />
<link href="resources/css/style.css" rel="stylesheet" />
<link href="resources/css/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="resources/css/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="resources/js/datatables/css/jquery.dataTables.min.css"
	rel="stylesheet" />
<link href="resources/js/jquery/jquery.json-viewer.css" rel="stylesheet" />
<script type="text/javascript"
	src="resources/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="resources/js/script.js"></script>

</head>
<body>
	<div class="container" id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"> <img alt="Brand"
						src="resources/images/mad_logo.png">
					</a> <a class="navbar-brand" href="#" id="brandName"> RECRUIT </a>
				</div>
				<ul class="nav navbar-top-links navbar-right">
		<!-- 		 <button type="button" class="btn btn-default" ng-show="selected=='login'">Login</button> -->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="" id="nav-dropdown" ng-show="selected!='login'"> <i
							class="fa fa-user fa-2x"></i> <i class="fa fa-caret-down fa-2x"></i>
					</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a><i class="fa fa-user fa-fw"></i> User Profile</a></li>
							<li><a href="#"><i class="fa fa-gear fa-fw"></i>
									Settings</a></li>
							<li class="divider"></li>
							<li><a  href="javascript:;" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
						</ul> <!-- /.dropdown-user --></li>
				</ul>
			</div>
			<!-- /.dropdown -->
		</nav>
		<div><a href="" style="color:#ED1849" ng-show="selected=='candidateList'" ng-click="addCandidate()" ><i class="fa fa-user-plus fa-3x pull-left" style="margin-top:90px;margin-left:20px;"></i></a></div>
		<div class="container" id="page-wrapper">
		
			<div class="row" style="margin-top: 3%;" ng-show="selected!='login'">
				<div class="col-md-4" id="bread-row">
					<a href="#/candidatelist"><span>
							<div class="panel bread-crumb "
								ng-class="{'selected':selected=='candidateList'}">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-2">
											<i class="fa fa-users fa-2x"></i>
										</div>
										<div class="col-xs-6 ">
											<div>Attendance & Token</div>
										</div>
									</div>
								</div>
							</div>
					</span></a>
				</div>
				<div class="col-md-4" id="bread-row">
					<a href="#/interviewlist"><span>
							<div class="panel bread-crumb"
								ng-class="{'selected':selected=='interviewList'}">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-2">
											<i class="fa fa-user fa-2x"></i>
										</div>
										<div class="col-xs-7 ">
											<div>Interview assessment</div>
										</div>
									</div>
								</div>
							</div>
					</span></a>
				</div>
				<div class="col-md-4" id="bread-row">
					<a href="#/selectlist"><span>

							<div class="panel bread-crumb"
								ng-class="{'selected':selected=='selectedList'}">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-2">
											<i class="fa fa-trophy fa-2x"></i>
										</div>
										<div class="col-xs-6 ">
											<div>Selected List</div>
										</div>
									</div>
								</div>
							</div>
					</span></a>
				</div>
			</div>
			<div class="conatiner" id="page-content">

				<div ng-view></div>


			</div>
		</div>
		
	</div>
</body>


<script type="text/javascript"
	src="resources/js/angularjs/angular.min.js"></script>
<script type="text/javascript"
	src="resources/js/angularjs/angular-route.min.js"></script>
<script type="text/javascript"
	src="resources/js/angularjs/checklist-model.js"></script>
<script type="text/javascript"
	src="resources/css/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="resources/js/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="resources/js/jquery/jquery.json-viewer.js"></script>
<script type="text/javascript" src="resources/js/app.js"></script>
<script type="text/javascript" src="resources/js/httpService.js"></script>
<script type="text/javascript" src="resources/js/service.js"></script>
<script type="text/javascript" src="resources/js/controller.js"></script>

</html>